.post{

	border: solid #ededed 1px;
	border-radius: 10px;
	margin: 10px 0px 10px 0px;
}

.post>p.center{
	text-align: center; 
}

.post>div{
	margin-bottom: 10px;
}

.post>div>span.link{
	/*text-align: right;*/ 
}

.link{
	height: 50px;
}

.post>div>span.date{
	text-align: left; 
}

.post>div>span>a{
	margin-left:5px;
	border-radius: 5px;
	font-size: 1em;
	padding: 5px;
	color:white;
}

a.comments{
	background: #ff9659 !important;
}

.update{
	background: #1e69ff;
}

.delete{
	background: #ff1e1e;
	color: white;
	height: 30px;
    margin-bottom: 5px;
    line-height: 0.5em !important;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 1em;
    padding: 5px;
    
}

a:hover{
	text-decoration: none !important;;
}

/*  here begin the createPost view  */

form{
	border: solid #ededed 1px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #ededed;
	margin-top: 10px;
}

form#deleteForm{
	display: inline;
	font-size: 1em;
	position: absolute;
    right: 5px;
}

form#deleteForm>input{
	    position: absolute;
    right: 0;
    padding:0px !important;
}

.submit{
	text-align: right;
}

.bouton{
	margin-bottom: 10px;
}

.formTitle{
	font-weight: bold;
}


.alert{
	margin-top: 5px;
}

.comment{
	border: solid #ededed 1px;
	border-radius: 10px;
	margin: 10px 0px 10px 0px;
}

.commentTitle{
	text-align: center;
}

.textareaComment{
	height: 100px;
}

form.commentForm>input,form.commentForm>label {
	padding-left: 10px; 
}

form.commentForm>input, form.commentForm>textarea{
	border-radius: 10px;
	border: solid 1px #ededed;
}

.deleteComment{
	background: red;
}

.far.fa-trash-alt{
	color:white;
}

.fas.fa-check-circle{
	color:#6fff59;
}

.fas.fa-exclamation-circle{
	color:red;
}

.far.fa-thumbs-down{
	color:orange;
}

.far.fa-thumbs-up{
	color:blue;
}
.links{
	text-align: right;
	position: relative;
}

form#deleteComment{
	width: 30px;
	display:inline;
	position: absolute;
	top: 0px;
	right: 10px;
}

.commentDate{
	font-size: 0.8em;
}

.pagination{
	margin-top: 20px;
}

h3{
	color: #b7b7b7 !important;
	margin-top: 20px !important;
	margin-bottom: 20px !important;
	margin-left: 10px;
}

.emptyCommentsMessage{
	border-radius: 10px;
	border:solid 1px #ededed;
	box-shadow: 3px 3px 3px #ededed;
}

.status{
	position: fixed;
    right: 20px;
    bottom: 10px;
    border-radius: 5px;
    background: #5b5b5b;
    color: #ffb24f;
    text-align: center;
    width: 230px;
}

.status > button{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

}

/*  page liste des users */

.userLabel{
	border:solid 1px #ededed;
	box-shadow: 2px 2px 2px #ededed;
	margin:5px;
}

td{
	padding-left: 10px;
	height: 50px;
}

tr{
	border:solid 1px #ededed;
}

form#deleteUser>input{
	background: #ff1e1e;
	border: none; 
	color:white;
}

form#deleteUser{
	display: inline;
}

td.userLinks{
	text-align: center;
}

.contact{
	background: #ff9659 !important;
	color: white;
}

.contactFromProfile{
	background: #ff9659 !important;
	color: white;
	padding: 3px !important;
	float:left;
	margin-left: 10px;
}

.show{
	background: #4a799e !important;
	color: white;
}

a.show:hover, a.contact:hover{
	color: white;
}

td.tableTitle{
	font-weight: bold !important;
}

.profilData{
	border-radius: 10px;
	border:solid 1px #ededed;
	box-shadow: 2px 2px 2px #ededed;
	position: relative;	
	margin-top: 20px;
}

.userGrade{
	position: absolute;
	border-radius: 5px;
	font-size: .8em;
	top: 10px;
	right: 20px;
	background: linear-gradient(#4d929e, #d6f8ff);
	color:white;
}

.profilData>a{
	position: absolute;
	bottom: 10px;
	right: 20px;
	background: #ff9659 !important;
	color: white;
}

.btn.button.promote{
	padding:3px !important;
	background: #f4aa42;
	color: white;
	float: left;
}

.btn.button.demote{
	background: #f4aa42;
	color: white;
	float: left;
	padding:3px !important;
}

.updateUser{
	background:#41a9f4;
	color:white;
	padding:3px !important;
	float: left;
	margin-left: 10px;
}

.profilData>a:hover{
	color:white;
}



.submitContactForm{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

form.contactUserForm>div>textarea{
	margin-bottom: 40px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #ededed;

}


footer{
	height: 200px;
	position: relative;
	border-top: solid 2px #ededed;
	border-radius: 20px;
	margin-top: 100px;
}

.contactForm{
	background: #727272;
	color: white;
	margin-top: 20px;
}

#legelMentions{
	margin:10px;
	height: 10px;
}

#legelMentions:hover{
	text-decoration: underline !important;
}

#socialLink{
	
}

header{
	position: relative;
	height: 150px;
	border-bottom: solid 2px #ededed;
	border-radius: 20px;
}


form.contactSiteForm{
	
	padding: 10px;
}


.emailForm, .loginForm, .resetForm, .registerForm, .contactUserForm, .createPostForm, .updatePostForm{
	padding: 10px;
}



form.contactSiteForm>div>textarea{
	margin-bottom: 50px;
}

.contactSiteSubmit{
	text-align: right;
	height: 50px;
}

/*  nous commençons ici le template et la page d'acceuil  */
.login{
	float: right;
	background: #ffc156;
	color: white;
	margin:10px;
}

.register{
	float:right;
	clear: both;
	background: #1d72f9;
	color: white;
	margin:10px;
}

.logout{
	float: right;
	margin: 10px;
	background: #ff4b1e;
	color: white;
}

.content{
	margin-top: 50px;
	margin-bottom: 50px;
}

label,.registerHeading{
	font-weight: bold;
}

.loginContainer{
	margin-top: 50px;
	margin-bottom: 50px;
}

.resetEmail{
	margin-bottom: 50px;
	margin-top: 50px;
}

.reset{
	margin-bottom: 50px;
	margin-top: 50px;
}

#mainHeader{
	position: relative;
}

ul#navbar{ 
	position: absolute;
	bottom: -2px;
	margin-bottom: 0px !important;
	width: 100%;
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	background: #f4f4f4;
}

#navbar > li > a{
	color: white !important;
}

#navbar > li.navbarMenu{
	border-radius: 5px;
	background: #939393;
	transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}


#navbar >li.navbarMenu:hover{
	transform: translateY(-2px);
	box-shadow: 2px 2px 2px #939393;
	background: #db7c00;
	color:white;
}

h1{
	display: inline;
}

.oups{
	text-align: center;
}

.homeReturnButton{
	background:  #f23a02;
	color: white;
}

h3.userListViewH3{
	margin-top: 50px !important;
	margin-bottom: 50px !important;
}

#burgerMenu{
	display: none;
	position: fixed;
	top: 10px;
	right: 24px;
	height: 40px;
	z-index: 4;
}

.burgerButton{
	color: white;

}

#burgerMenu>ul>li{
	list-style: none;
	background: #c4c4c4;
	color: white;
	border-top: 0.5px solid white;
}

li.firstLink{
	border-top: none !important;
}

#burgerMenu>button{
	margin-bottom: 135px;
}

#burgerMenu>ul{
	display: none;
	margin-top: -2px;
}

#burgerMenu>ul>li>a{
	color:white;
}

#burgerMenu>ul>li>a:hover{
	color:white;
}

#welcome > p{
	text-align: justify;
}

#linkAndForm, #legelMentions, .contactData{
	margin: 20px;
}

.userAction{
		text-align: center;
		height: 100px;

	}

/* profile update */

.updateProfileForm{
	margin-top: 100px;
	padding: 20px;
	padding-bottom: 20px;
}

.updateButton{
	float: right;
	margin-bottom: 20px;
}

.updateDiv{
	height: 50px;
}

.fas.fa-exclamation-circle.menu{
	color: white;
}

.profilLink{
	cursor: pointer;
	color: blue !important;
}

.profilLink:hover{
	text-decoration: underline !important;
}

.legalDiv{
	margin-top: 100px;
}

/* ici nous avons le css de stripe */

.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ededed;
  box-shadow: 2px 2px 2px 0 #ededed;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  width: 100%;
  margin-bottom: 80px;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#submitStripe{
	margin: 15px;
	position: absolute;
	right: 5px;
	bottom: 5px;
}

#payment-form{
	position: relative;
}

.radioType{
	display: inline;
}

.labelStripe{
	background: #afafaf;
	color: white;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #afafaf;
}

#donationInput{
	border-radius: 5px;
}

.input-group.col-md-6 +p{
	display: inline;
	color: #b5b5b5;
	margin-left: 15px;
}

#inputStripe{
	display: inline;
	margin-left: 25px;
}


#stripeBtn{
	margin-bottom: 20px;
	margin-left: 15px;
}

#MontantDuDon{
	margin-top: 25px;
}


#stripeError{
	display: none;
	position: absolute;
    right: 5px;
    top: 110px;
}

#stripeError+p{
	margin-left: 15px;
}

.form-row{
	margin-left: 15px;
}

#slider{
	height: 400px;
	overflow: hidden;
	margin-top: 70px;
	margin-bottom: 50px;
	position: relative;
	box-shadow: 10px 10px 10px #ededed;
}

.slideImages{
	position: absolute;
	left: 0px;
	top:0px;
	margin: 0px;
}

#slide3{
	left: -30px;
	top:-50px;
}

#slide1{
	left: -70px;
	top:-70px;
}

.arrowDiv{
	cursor: pointer;
	text-align: center;
	padding-top: 200px;
	background: white;
	color: black;
	transition-property: color, padding-top; 
	transition-duration: 0.2s;
}

.arrowDiv:hover{
	color: #ededed;
	padding-top: 190px;
}


#leftArrowSlide, #rightArrowSlide{
	margin-top: 50%;
}

figure{
	position: relative;
}

#slide1>figcaption{
	top: 90px;
    left: 70px;
    position: absolute;
    color: white;
    font-size: 2em;
    width: 100%;
    background: #0000004a;

}


#slide2>figcaption{
	position: absolute;
	top: 20px;
	left: 0px;
	color: white;
	font-size: 2em;
	background: #0000004a;
	width: 100%;
}

#slide3>figcaption{
	position: absolute;
	top: 70px;
	left: 30px;
	color: white;
	font-size: 2em;
	background: #0000004a;
	width: 100%;
}

#totalUser{
	line-height: 2;
	padding: 5px;
}

#totalUserContainer{
	text-align: right;
}

@media screen and (max-width:700px)
{
	#navbar{
		display: none;
	}

	#burgerMenu{
		display: block;
	}

	.logout{
		float: none;
		position: absolute;
		top:40px;
		right: 0px;
		z-index: 3;
	}

	.login{
		float: none;
		position: absolute;
		top:40px;
		right: 0px;
		z-index: 3;
	}

	.register{
		float: none;
		position: absolute;
		top:80px;
		right: 0px;
		z-index: 3;
	}

	h1{
		font-size: 2em !important;
		display: block;
		text-align: center !important;
		bottom: 25px;
		z-index: 3;
	}

	img.logo{
		width: 200px;
		z-index: 2;
		padding-left: 0px;
	}

	.userLabel{
		font-size: 0.8em;
	}

	/* postview */

	.post>div>span.link{
		line-height: 2.5;
	}

	a.comments{
		float: left;
		padding: 1px !important;
	}

	a.update{
		float: left;
		padding: 1px !important;
	}

	#slider{
		margin-left: 5px;
	}

	.slide1Img{
		width: 800px;
	}

	.slide2Img{
		width: 800px;
	}

	.slide3Img{
		width: 800px;
	}

	#slide3{
		left: -350px;
		top: 0px;
	}

	#arrowDivLeft, #arrowDivRight{
		display: none;
	}

	#sliderContainer{
		margin-left: 5px;
	}

	#stripeBtn50{
		margin-top: 10px;
	}

	figcaption{
		font-size: 0.9em !important;
	}

	#slide3>figcaption{
		left: 350px;
		top: 20px;
	}
}

@media screen and (min-width:1200px){
	#slider{
		width: 670px;
	}


}