.post{

	border: solid #ededed 1px;
	border-radius: 10px;
	margin: 10px 0px 10px 0px;
}

.post>p.center{
	text-align: center; 
}

.post>div{
	margin-bottom: 10px;
}

.post>div>span.link{
	text-align: right; 
}

.post>div>span.date{
	text-align: left; 
}

.post>div>span>a{
	margin-left:5px;
	border-radius: 5px;
	font-size: 1em;
	padding: 5px;
	color:white;
}

a.comments{
	background: #ff9659 !important;
}

.update{
	background: #1e69ff;
}

.delete{
	background: #ff1e1e;
	color: white;
	height: 30px;
    margin-bottom: 5px;
    line-height: 0.5em !important;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 1em;
    padding: 5px;
    
}

a:hover{
	text-decoration: none !important;;
}

/*  here begin the createPost view  */

form{
	border: solid #ededed 1px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #ededed;
	margin-top: 10px;
}

form#deleteForm{
	display: inline;
	font-size: 1em;
}

.submit{
	text-align: right;
}

.bouton{
	margin-bottom: 10px;
}

.formTitle{
	font-weight: bold;
	margin-top: 10px;
}

.alert{
	margin-top: 5px;
}

.comment{
	border: solid #ededed 1px;
	border-radius: 10px;
	margin: 10px 0px 10px 0px;
}

.commentTitle{
	text-align: center;
}

.textareaComment{
	height: 100px;
}

form.commentForm>input,form.commentForm>label {
	padding-left: 10px; 
}

form.commentForm>input, form.commentForm>textarea{
	border-radius: 10px;
	border: solid 1px #ededed;
}

.deleteComment{
	background: red;
}

.far.fa-trash-alt{
	color:white;
}

.fas.fa-check-circle{
	color:#6fff59;
}

.fas.fa-exclamation-circle{
	color:red;
}

.far.fa-thumbs-down{
	color:orange;
}

.far.fa-thumbs-up{
	color:blue;
}
.links{
	text-align: right;
	position: relative;
}

form#deleteComment{
	width: 30px;
	display:inline;
	position: absolute;
	top: 0px;
	right: 10px;
}

.commentDate{
	font-size: 0.8em;
}

.pagination{
	margin-top: 20px;
}

h3{
	color: #b7b7b7 !important;
	margin-top: 20px !important;
	margin-bottom: 20px !important;
	margin-left: 10px;
}

.emptyCommentsMessage{
	border-radius: 10px;
	border:solid 1px #ededed;
	box-shadow: 3px 3px 3px #ededed;
}

.status{
	position: fixed;
    right: 20px;
    bottom: 10px;
    border-radius: 5px;
    background: #5b5b5b;
    color: #ffb24f;
    text-align: center;
    width: 230px;
}

.status > button{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

}

/*  page liste des users */

.userLabel{
	border:solid 1px #ededed;
	box-shadow: 2px 2px 2px #ededed;
	margin:5px;
}

td{
	padding-left: 10px;
	height: 50px;
}

tr{
	border:solid 1px #ededed;
}

form#deleteUser>input{
	background: #ff1e1e;
	border: none; 
	color:white;
}

form#deleteUser{
	display: inline;
}

td.userLinks{
	text-align: center;
}

.contact{
	background: #ff9659 !important;
	color: white;
}

.show{
	background: #4a799e !important;
	color: white;
}

a.show:hover, a.contact:hover{
	color: white;
}

td.tableTitle{
	font-weight: bold !important;
}

.profilData{
	border-radius: 10px;
	border:solid 1px #ededed;
	box-shadow: 2px 2px 2px #ededed;
	position: relative;	
	margin-top: 20px;
}

.userGrade{
	position: absolute;
	border-radius: 5px;
	font-size: .8em;
	top: 10px;
	right: 20px;
	background: linear-gradient(#4d929e, #d6f8ff);
	color:white;
}

.profilData>a{
	position: absolute;
	bottom: 10px;
	right: 20px;
	background: #ff9659 !important;
	color: white;
}

.btn.button.promote{
	position: absolute;
	bottom: 50px;
	right: 20px;
}

.btn.button.demote{
	position: absolute;
	bottom: 70px;
	right: 20px;
}

.profilData>a:hover{
	color:white;
}

form.contactUserForm>div>input{
	border-radius: 5px;
	border:#ededed 1px solid;
	box-shadow: 2px 2px 2px #ededed;
	margin-top:10px;
}

form.contactUserForm{
	position: relative;
}

.submitContactForm{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

form.contactUserForm>div>textarea{
	margin-bottom: 40px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #ededed;

}

.reciever{
	color: #ffcf77 !important;
	margin-top: 20px !important;
	margin-bottom: 20px !important;
	margin-left: 10px;
}

footer{
	height: 200px;
	position: relative;
	border-top: solid 2px #ededed;
	border-radius: 20px;
}

footer>a{
	position: absolute;
	bottom: 10%;
	right: 5%;
	background: #727272;
	color: white;
}

header{
	position: relative;
	height: 150px;
	border-bottom: solid 2px #ededed;
	border-radius: 20px;
}


form.contactSiteForm{
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
}

form.contactSiteForm>div>input, form.contactSiteForm>div>textarea{

	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #ededed;
	border: solid 1px #ededed;

}

form.contactSiteForm>div>textarea{
	margin-bottom: 50px;
}

.contactSiteSubmit{
	position: absolute;
	bottom: 10px;
	right: 10px;
}